{% extends 'home.html' %}
{% block content %}
    <h1>nhật ký về người dùng</h1>

    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="">{{ object.author }}</a>
            <small class="text-muted">{{ object.dated_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
                <a href="{% url 'post-update' object.id %}">update</a>
                <a href="{% url 'post-delete' object.id %}">delete</a>
            {% endif %}
          </div>
          <h2 class="article-title" >{{ object.tittle }}</h2>
          <p class="article-content">{{ object.content }}</p>
        </div>
      </article>

{% endblock %}